%object{:classid => "clsid:#{$devkey}", :height => "600", :width => "234"}
  %param{:name => "movie", :value => "/"}
  %param{:name => "allowScriptAccess", :value => "always"}
  %param{:name => "allowFullScreen", :value => "true"}
  %embed{:allowFullScreen => "true", :allowScriptAccess => "always", :height => "100%", :width => "100%" , :src => "http://cdn.livestream.com/chat/LivestreamChat.swf?&showTimestamp=false&channel=#{@stream}", :type => "application/x-shockwave-flash", :width => "234"}
