:javascript
	$(function(){
		var sN = $("streamname");
		var oL = $("#streamlink");
		
		sN.blur(function(){
			val = sN.val();
			ln = "www.streamwatch.us.to/"+val;
			oL.val(ln);
		});
	});

%form#newstream
	%label{:for => "streamname"} New Stream:
	%input#streamname{:type => "text",:name => "stream"}
	%input{:type => "submit", :value => "Go"}
	%input#streamlink{:type=>"text",:readonly=>"readonly"}
		

Todo:
%ol
	%li
		%strike Setup the database
	%li
		%strike Make player frame
	%li
		%strike Make chat frame
	%li
		%strike Setup stream page
	%li Add new stream form
	%li Copy new stream link to clipboard
	%li Add new streams to database
	%li Remove streams from database at interval
	%li Add stream tracking to main page
