:javascript
	$(function(){
		var sN = $("#streamname");
		var oL = $("#streamlink");
		var gts = $('#gotostream');
		
		sN.blur(function(){
			val = sN.val();
			if(String(val).length > 0){
				ln = "www.streamwatch.us.to/"+val;
				sN.val(ln);
			}
		});
		
		gts.click(function(){
			val = sN.val();
			document.location.href(val);
		});
	});

#newstream
	%label{:for => "streamname"} New Stream:
	%input#streamname{:type => "text",:name => "stream"}
	%button#gotostream Go
		

Todo:
%ol
	%li
		%strike Rape Guestss' stream OVER and OVER and OOOVER!
	%li
		%strike Setup the database
	%li
		%strike Make player frame
	%li
		%strike Make chat frame
	%li
		%strike Setup stream page
	%li Add new stream form
	%li Copy new stream link to clipboard
	%li Add new streams to database
	%li Remove streams from database at interval
	%li Add stream tracking to main page
