Todo:
%ol
	%li
		%strike Setup the database
	%li
		%strike Make player frame
	%li
		%strike Make chat frame
	%li Setup stream page
	%li Add new streams to database
	%li Remove streams from database at interval
	%li Add stream tracking to main page
	%li Add new stream form
	%li Copy new stream link to clipboard
