:javascript
	$(function(){
		var sN = $("#streamname");
		var oL = $("#streamlink");
		var gts = $('#gotostream');
		var st = "/";
		
		sN.blur(function(){
			val = sN.val();
			if(String(val).length > 0){
				st = val;
				ln = "http://streamwatch.us.to/"+val;
				sN.val(ln);
			}
		});
		
		sN.keypress(function(e){
			code= (e.keyCode ? e.keyCode : e.which);
			if (code == 13){
				if(st == "/"){st = sN.val();}
				window.location= st;
			}
		});
		
		sN.click(function(){
			sN.select();
		});
		
		gts.click(function(){
			window.location= st;
		});
		
		$("#watchbutton").click(function(){
			st = $("#streamlist").find(":selected").text();
			if(st == "/home")return false;
			window.location = st;
		});
		
		$("#chatonly").click(function(){
			st = $("#streamlist").find(":selected").text();
			if(st == "/home")return false;
			window.location = "/chat/"+st;
		});
	});
%center
	#newstream
		%label{:for => "streamname"} New Stream:
		%input#streamname{:type => "text",:name => "stream"}
		%button#gotostream Go
	%select#streamlist
		- @streams.each do |stream|
			%option= stream
	%button#watchbutton Watch
	%button#chatonly Chat
