:javascript
	$(function(){
		var sN = $("#streamname");
		var oL = $("#streamlink");
		var gts = $('#gotostream');
		var st = "/";
		
		sN.blur(function(){
			val = sN.val();
			if(String(val).length > 0){
				st = val;
				ln = "www.streamwatch.us.to/"+val;
				sN.val(ln);
			}
		});
		
		sN.keypress(function(e){
			code= (e.keyCode ? e.keyCode : e.which);
			if (code == 13){
				if(st == "/"){st = sN.val();}
				window.location= st;
			}
		});
		
		gts.click(function(){
			window.location= st;
		});
	});

#newstream
	%label{:for => "streamname"} New Stream:
	%input#streamname{:type => "text",:name => "stream"}
	%button#gotostream Go
		

Todo:
%ol
	%li
		%strike Rape Guestss' stream OVER and OVER and OOOVER!
	%li
		%strike Setup the database
	%li
		%strike Make player frame
	%li
		%strike Make chat frame
	%li
		%strike Setup stream page
	%li
		%strike Add new stream form
	%li
		%strike Copy new stream link to clipboard
		Impossiburu without flash. (Fuck that)
	%li Add new streams to database
	%li Add stream tracking to main page
	%li Remove streams from database at interval

