%object#player{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "100%", :name => "player", :width => "100%"}
  %param{:name => "movie", :value => "http://cdn.livestream.com/chromelessPlayer/examples/jwplayer/players/player.swf"}/
  %param{:name => "allowfullscreen", :value => "true"}/
  %param{:name => "allowscriptaccess", :value => "always"}/
  %param{:name => "flashvars", :value => ""}/
  %embed#player{:allowfullscreen => "true", :allowscriptaccess => "always", :flashvars => "backcolor=000000&frontcolor=CCCCCC&lightcolor=FFFFFF&type=livestream&type=livestream&autostart=true&file=movietme", :height => "100%", :name => "player", :src => "http://cdn.livestream.com/chromelessPlayer/examples/jwplayer/players/player.swf", :type => "application/x-shockwave-flash", :width => "100%"}/
