:javascript
	// Controls for buttons and shit
	$(function(){
		var chatbutton = $("#chatbutton");
		var chat = $("#chat");
		var player = $("#player");
		$("#streamcontrols").hide();
		
		chatbutton.click(fucntion(){
			alert("Chatbutton Pressed");
			if(chat.is(":visible")){
				chat.hide();
				player.width("100%");
			} else {
				chat.show();
				player.width("80%");
			}
		});
	});
#streamcontrols
	%select#streamlist
		%option NA
	%button#gobutton Go
	%button#chatbutton Chat
#player
	%object#lsplayer{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "100%", :width => "100%"}
		%param{:name => "movie", :value => "http://cdn.livestream.com/grid/LSPlayer.swf?channel=#{@stream}&autoPlay=false"}
		%param{:name => "allowScriptAccess", :value => "always"}
		%param{:name => "allowFullScreen", :value => "true"}
		%embed{:allowFullScreen => "true", :allowScriptAccess => "always", :height => "100%", :name => "lsplayer", :src => "http://cdn.livestream.com/grid/LSPlayer.swf?channel=#{@stream}&autoPlay=false", :type => "application/x-shockwave-flash", :width => "100%", :wmode => "transparent"}
#chat
	%object#lschat{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "100%", :width => "100%"}
		%param{:name => "movie", :value => "http://cdn.livestream.com/chat/LivestreamChat.swf?&channel=#{@stream}"}
		%param{:name => "allowScriptAccess", :value => "always"}
		%param{:name => "allowFullScreen", :value => "true"}
		%embed{ :allowFullScreen => "true", :allowScriptAccess => "always", :name => "lschat", :src => "http://cdn.livestream.com/chat/LivestreamChat.swf?&channel=#{@stream}", :type => "application/x-shockwave-flash", :height => "100%", :width => "100%"}
