html {
	font-family:"Courier New";
	background:#222;
	color:#FFF;
}
html,body, iframe {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
div {
	padding:0px;
}
textarea{
 resize: none;
} 
#player{
	height:100%;
	width:80%;
	float:left;
} 
#chat{
	height:100%;
	width:20%;
	float:left;
}
#streamcontrols{
	height:10%;
	width:100%;
}
#streamlist{
	width:200px;
}
.fill{
	height:100%;
	width:100%;
}
